{% extends 'base.html' %}

{% block title %}
Edit Article Page
{% endblock %}

{% block body %}
<div class="container">
    <div class="col mt-5 mb-5">
        <div class="row">

            <h1>Edit Article</h1>
            <p>This is a simple about page</p>
            <form method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required value="{{ article.title }}">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" required>{{ article.content }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}